{"openapi":"3.0.1","info":{"title":"z/OS Data Gatherer: SMF Data REST Services","description":"z/OS Data Gatherer REST Services \n\n\nThe SMF records must be sorted by following SMF header fields: SMFHDR_Date (SMF date), SMFHDR_Time (SMF time) and SMFHDR_SID (SMF System identification)\n \n\n\n To reduce both, network and client workload, any field or structure with the value 'null' or empty are not included in the response. This means that a field or structure with one of these values can be present in a Schema but not found in the Response.\n\nTwo Vendor Extensions Groups are used in this OpenApi Specification: \n  - x-zdg: \t extensions that are specific for z/OS Data Gatherer or that have different meaning in other IBM z/OS products \n - x-zml: \t extensions that may be found in other IBM z/OS products or described using Z-Markup Language with the same meaning \n\nThe following vendor extensions are used: \n  - x-zdg-interpreted-value: \t denotes that the value provided by the z/OS Data Gatherer is post-processed \n  - x-zdg-is-artificial: \t denotes that the element is artificially created and does not correspond to any field from the original macro/structure \n  - x-zdg-key-composition: \t describes the uniquely identifiable key of the structure (as child) if used in a parent-child relationship (e.g., as one specific entry of same type). The key is one or more structure fields or 'Indexed', which means the sequential creation count \n  - x-zdg-max-size: \t maximal length of the structure (in bytes) at the highest release \n  - x-build-timestamp: \t the application build timestamp \n  - x-modules-version: \t the application modules version \n  - x-zml-bit-offset: \t the bit-index of the element (used for sub-byte fields only) \n  - x-zml-bit-size: \t the bit-length of the element (used for sub-byte fields only, or for elements which value starts at specific bit of the containing structure) \n  - x-zml-datatype: \t the datatype of the field in the original mapping macro \n  - x-zml-offset: \t the byte-offset at the original structure \n  - x-zml-size: \t the byte-length of the element \n  - x-zml-structure-name: \t the original name of the macro or structure that is described with the OpenApi compliant Schema \n  - x-zml-version: \t the z/OS version under which the macro was compiled to get the following OpenApi compliant Schema \n  - x-zdg-is-meta: \t when requesting data, these fields are included in 2 cases either showMeta=true is used, or meta-field is explicitly requested \n \n\n\n --- \n\n\nApplication build timestamp: 2024-10-10T05:50:35Z\n\n\n --- \n\n\n\n\n\n --- \n\n\nApplication modules version: 1.3.0\n\n\n --- \n\n\n","contact":{"name":"IBM support","url":"https://www.ibm.com/support"},"license":{"name":"z/OS 3.1","url":"https://www.ibm.com/docs/en/SSLTBW_3.1.0/pdf/e0zf100_v3r1.pdf"},"version":"v1","x-build-timestamp":"2024-10-10T05:50:35Z","x-modules-version":"1.3.0"},"servers":[{"url":"https://t001.mf.it-solutions.atos.net:10443/zosmf/zosdg/smf","description":"Generated server url"}],"security":[{"Basic":[]},{"LTPA2_COOKIE":[]}],"tags":[{"name":"SMF 71","description":"RMF Paging Activity"},{"name":"Discovery","description":"Methods to discover the content of the SMF data source"},{"name":"SMF 72","description":"Workload Activity, Storage Data, and Serialization Delay"},{"name":"SMF 99","description":"System Resource Manager Decisions"},{"name":"SMF 73","description":"RMF Channel Path Activity"},{"name":"SMF 77","description":"RMF Enqueue Activity"},{"name":"SMF 113","description":"Hardware Capacity, Reporting And Statistics"},{"name":"SMF 78","description":"Virtual Storage and I/O Queuing Activity"},{"name":"SMF 76","description":"RMF Trace Activity"},{"name":"SMF 30","description":"Common Address Space Work"},{"name":"SMF 74","description":"RMF Activity of Several Resources"},{"name":"SMF 79","description":"RMF Monitor II Activity"},{"name":"SMF 70","description":"RMF Processor Activity"},{"name":"SMF 75","description":"RMF Page Data Set Activity"}],"paths":{"/v1/smf/discover/describe/{datasetName}":{"get":{"tags":["Discovery"],"summary":"The summary about each SMF (sub-)type","description":"Provides the cumulative information about each (sub-)type present in the SMF data source. If the SMF resource is accessed for the first time, or if the cache-validation failed, the result is cached and used every next time the discovery data is needed. Cache is stored for the time specified by the application settings","operationId":"describe","parameters":[{"name":"datasetName","in":"path","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmfDataDescription"}}}}}},"post":{"tags":["Discovery"],"summary":"The summary about each SMF (sub-)type","description":"Performs the discovery overwriting the cached data. Must be used, if the dataset has been modified since last discovery. The result is cached and used every next time the discovery data is needed. Cache is stored for the time specified by the application settings","operationId":"discoverAndDescribe","parameters":[{"name":"datasetName","in":"path","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmfDataDescription"}}}}}}},"/v1/smf/type/99/subtype/6":{"get":{"tags":["SMF 99"],"summary":"Service Class Period Summary Information","description":"This end-point retrieves SMF 99 subtype 6 data from the specific SMF record using the dataset provided","operationId":"getData","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF99_SUBTYPE6","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99LEN","SMF99SEG","SMF99FLG","SMF99STU","SMF99RTY","SMF99TME","SMF99DTE","SMF99SID","SMF99SSID","SMF99TID","SMF99_SDEF_LEN"]}}},{"name":"SMF99_SUBTYPE6_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99POF","SMF99PLN","SMF99PON","SMF99DOF","SMF99DLN","SMF99DON"]}}},{"name":"SMF99_SUBTYPE6_PRODUCT_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99VN2","SMF99RVN","SMF99PNM","SMF99SLV","SMF99SNM","SMF99PFLG","SMF99_RECORD_INCOMPLETE","SMF99_REASM_INDICATOR"]}}},{"name":"SMF99_SUBTYPE6_HEADER_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_HEADER_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_HEADER_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF996CPOF","SMF996CPLN","SMF996CPON"]}}},{"name":"SMF99_SUBTYPE6_PERIOD_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_PERIOD_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_PERIOD_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF996_ECLASS_NAME","SMF996_PER_NUM","SMF996_GOALTYPE","SMF996_PERCENTILE","SMF996_ICLASS_NAME","SMF996_GOALVAL","SMF996_IMPOR","SMF996_DP","SMF996_IODP","SMF996_MPLI","SMF996_MPLO","SMF996_RUA","SMF996_PSPT","SMF996_PSITAR","SMF996_LOCAL_PI","SMF996_SYSPLEX_PI","SMF996_SERVER_DATA_OF","SMF996_SERVER_DATA_LN","SMF996_SERVER_DATA_ON","SMF996_PSERV","SMF996_PISERV","SMF996_PSSERV","SMF996_TIME_AT_PDP_USING","SMF996_TIME_AT_PDP","SMF996_FLAGS","SMF996_EWLM_MANAGED","SMF996_IO_PRIORITY_GROUP","SMF996_INELIGHONORPRIORITY","SMF996_EWLM_LOCAL_PI","SMF996_EWLM_GLOBAL_PI"]}}},{"name":"SMF99_SUBTYPE6_SERVER_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_SERVER_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE6_SERVER_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_S6_SERVER_CLASS_NAME","SMF99_S6_SERVER_PER_NUM"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf99Subtype6View"}}}}}}},"/v1/smf/type/99/subtype/2":{"get":{"tags":["SMF 99"],"summary":"Service Class Data","description":"This end-point retrieves SMF 99 subtype 2 data from the specific SMF record using the dataset provided","operationId":"getData_1","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF99_SUBTYPE2","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99LEN","SMF99SEG","SMF99FLG","SMF99STU","SMF99RTY","SMF99TME","SMF99DTE","SMF99SID","SMF99SSID","SMF99TID","SMF99_SDEF_LEN"]}}},{"name":"SMF99_SUBTYPE2_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99POF","SMF99PLN","SMF99PON","SMF99DOF","SMF99DLN","SMF99DON"]}}},{"name":"SMF99_SUBTYPE2_PRODUCT_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99VN2","SMF99RVN","SMF99PNM","SMF99SLV","SMF99SNM","SMF99PFLG","SMF99_RECORD_INCOMPLETE","SMF99_REASM_INDICATOR"]}}},{"name":"SMF99_SUBTYPE2_HEADER_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_HEADER_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_HEADER_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF992COF","SMF992CLN","SMF992CON","SMF992CPOF","SMF992CPLN","SMF992CPON","SMF992ECOF","SMF992ECLN","SMF992ECON"]}}},{"name":"SMF99_SUBTYPE2_CLASS_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_CLASS_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_CLASS_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_CNAM","SMF99_CGRN","SMF99_CNUMP","SMF99_CINDEX"]}}},{"name":"SMF99_SUBTYPE2_EWLM_CLASS_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_EWLM_CLASS_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_EWLM_CLASS_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_EWLM_CNAM","SMF99_EWLM_CKEY"]}}},{"name":"SMF99_SUBTYPE2_PERIOD_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_PERIOD_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_PERIOD_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_PCNM","SMF99_PNUM","SMF99_PGOALTYP","SMF99_PGOALVAL","SMF99_PIMPOR","SMF99_PBDP","SMF99_PMPLI","SMF99_PMPLO","SMF99_PAMTA","SMF99_PRUA","SMF99_PLRUA","SMF99_PPSPT","SMF99_PPSITAR","SMF99_PESPOL","SMF99_PESVIO","SMF99_PESHSP","SMF99_PESSWAP","SMF99_PPROT","SMF99_PLRU","SMF99_PSPAV","SMF99_PVIOL","SMF99_PVIOS","SMF99_PHSPL","SMF99_PHSPS","SMF99_PESCS","SMF99_PLPI","SMF99_PSPI","SMF99_PSERV","SMF99_PMDP","SMF99_PLCPUU","SMF99_PLCPUD","SMF99_PMTTWA","SMF99_PADP","SMF99_PASERC","SMF99_PPRSER","SMF99_PIDLE","SMF99_POTHR","SMF99_PCPUU","SMF99_PCPUD","SMF99_PAUXP","SMF99_PAUXC","SMF99_PVIO","SMF99_PHSS","SMF99_PHSC","SMF99_PASWP","SMF99_PMPLD","SMF99_PCAPD","SMF99_PXMO","SMF99_PXMEM_OF","SMF99_PXMEM_LN","SMF99_PXMEM_ON","SMF99_PSERV_OF","SMF99_PSERV_LN","SMF99_PSERV_ON","SMF99_PESP_OF","SMF99_PESP_LN","SMF99_PESP_ON","SMF99_PCDCLOCK","SMF99_PNH","SMF99_PRTP","SMF99_PAUXS","SMF99_PIOU","SMF99_PIOD","SMF99_PIO_MDP","SMF99_PIODP","SMF99_FLAGS","SMF99_NEEDS_SYSPLEX_HELP","SMF99_CPU_CRITICAL","SMF99_STGCRIT_IMPLICIT","SMF99_NON_ZOS","SMF99_HAS_NEAR_BLOCKED_AS","SMF99_EWLM_MANAGED","SMF99_IO_PRIORITY_GROUP","SMF99_TRXSPECRPT","SMF99_PER_IO_MGMT_SUPPORT_DATA","SMF99_PDEVCL","SMF99_PSERVER_TYPE","SMF99_PTRANS_SERVER","SMF99_PENCLAVE_SERVER","SMF99_PQUEUE_SERVER","SMF99_PSDATA_OF","SMF99_PSDATA_LN","SMF99_PSDATA_ON","SMF99_PQDATA_OF","SMF99_PQDATA_LN","SMF99_PQDATA_ON","SMF99_PAVG_SIZE","SMF99_PGRN","SMF99_PSYS_CPUU","SMF99_PSYS_NONIDLE","SMF99_PSYS_IDLE","SMF99_PSYS_OTHER","SMF99_IOSUBSAMOF","SMF99_IOSUBSAMLN","SMF99_IOSUBSAMON","SMF99_SPMDP","SMF99_AVG_NUM_TASKS","SMF99_PBPD","SMF99_SWCT","SMF99_FLAGS2","SMF99_INELIGHONORPRIORITY","SMF99_ISCAPPEDBYTRG","SMF99_ISCAPPEDBYSOLETRG","SMF99_CPUCRIT_IMPLICIT","SMF99_NUM_SAMP_HIST_ROWS_USED","SMF99_CADP","SMF99_SBCPUU","SMF99_SBCPUD","SMF99_PSYS_IO_DLY","SMF99_PSYS_NON_IO_DLY","SMF99_PIFAU","SMF99_PIFAD","SMF99_PISERV","SMF99_PIMDP","SMF99_PIMTTWA","SMF99_PIADP","SMF99_PIASERC","SMF99_PIPRSER","SMF99_ICADP","SMF99_PIFAONCP","SMF99_PLIFAU","SMF99_PLIFAD","SMF99_PSUPU","SMF99_PSUPD","SMF99_PSUPONCP","SMF99_PLSUPU","SMF99_PLSUPD","SMF99_PSSERV","SMF99_TIME_AT_PDP_USING","SMF99_TIME_AT_PDP","SMF99_EWLM_LOCAL_PI","SMF99_EWLM_GLOBAL_PI","SMF99_PSMDP","SMF99_PSMTTWA","SMF99_PSADP","SMF99_PSASERC","SMF99_PSPRSER","SMF99_SCADP","SMF99_HDLOCKPROMOTION_TIME_AT_PDP","SMF99_HDLOCK_TIME_AT_PDP_USING","SMF99_PNS_PSERV","SMF99_PNS_IPSERV","SMF99_PNS_SPSERV","SMF99_VARTIME_AT_PDP","SMF99_VARTIME_AT_PDP_USING","SMF99_VARWEIGHTED_TIME_AT_PDP","SMF99_RT_DISTRI_MID_POINT","SMF99_RT_DISTRI_TIME_STAMP","SMF99_RT_DISTRI_AVG_RESP_TIME","SMF99_RT_DISTRI_NUM_ROWS","SMF99_RT_DISTRI_SUM_TRANS","SMF99_RT_DISTRI_RUNNING_COUNT","SMF99_RT_DISTRI_INT_SUM_TRANS","SMF99_GAV_AREA","SMF99_VELO_USING_STATES","SMF99_USING_IOSM_CURR","SMF99_DELAY_IOSM_CURR","SMF99_DISC_IOSM_CURR","SMF99_DISC_IOSM_ACCUM","SMF99_CUQT_IOSM_CURR","SMF99_CUQT_IOSM_ACCUM","SMF99_THRO_IOSM_CURR","SMF99_THRO_IOSM_ACCUM","SMF99_CNTD_IOSM_CURR","SMF99_CNTD_IOSM_ACCUM","SMF99_PEND_IOSM_CURR","SMF99_PEND_IOSM_ACCUM","SMF99_SPECZCBP","SMF99_SPECZCBPONCP","SMF99_TRG_NAME","SMF99_AI_OF","SMF99_AI_LN","SMF99_AI_ON","SMF99_RT_DISTRI_NUM_TRANS","SMF99_GAV_ARRAY"]}}},{"name":"SMF99_SPECRPT","in":"query","description":"A set of the fields that are to be returned for SMF99_SPECRPT-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SPECRPT-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_SPECCP1","SMF99_SPECCP2","SMF99_SPECOFFLOAD1","SMF99_SPECOFFLOAD2","SMF99_SPECOFFLOADONCP1","SMF99_SPECOFFLOADONCP2"]}}},{"name":"SMF99_SUBTYPE2_AI_DATA_MAP","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_AI_DATA_MAP-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_AI_DATA_MAP-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_S2_AI_MODELNAME","SMF99_S2_AI_MODELVERSION","SMF99_S2_AI_MODELUSECASE","SMF99_S2_AI_FLAGS","SMF99_S2_AI_INFTIME","SMF99_S2_AI_DATA0","SMF99_S2_AI_DATA1","SMF99_S2_AI_DATA2","SMF99_S2_AI_DATA3","SMF99_S2_AI_DATA4","SMF99_S2_AI_DATA5","SMF99_S2_AI_DATA6","SMF99_S2_AI_DATA7","SMF99_S2_AI_DATA8"]}}},{"name":"SMF99_SUBTYPE2_CROSS_MEMORY_DELAY_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_CROSS_MEMORY_DELAY_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_CROSS_MEMORY_DELAY_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_XMEM_JOBN","SMF99_XMEM_SAMPS"]}}},{"name":"SMF99_SUBTYPE2_SERVER_DATA_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_SERVER_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_SERVER_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_SERVER_CNM","SMF99_SERVER_PNUM","SMF99_SERVER_OBS"]}}},{"name":"SMF99_SUBTYPE2_SERVER_SAMPLE_DATA_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_SERVER_SAMPLE_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_SERVER_SAMPLE_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_SDATA_WQDEL","SMF99_SDATA_ENC_AUXP","SMF99_SDATA_ENC_VIO","SMF99_SDATA_ENC_HSP","SMF99_SDATA_ENC_MPLD","SMF99_SDATA_ENC_ASWP","SMF99_SDATA_SERVER_CLASS_NAME","SMF99_SDATA__SERVER_TYPE","SMF99_SDATA_ENC_OR_Q_SERVER","SMF99_SDATA_BATCH","SMF99_SDATA_SUBSYS_TYPE","SMF99_SDATA_SUBSYS_NAME"]}}},{"name":"SMF99_SUBTYPE2_QUEUE_SERVER_DATA_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_QUEUE_SERVER_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_QUEUE_SERVER_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_QDATA_ENV_NAME","SMF99_QDATA_SERVER_CLASS_NAME","SMF99_QDATA_SERVER_WANT","SMF99_QDATA_SERVER_HAVE","SMF99_QDATA_SERVER_ACTIVE","SMF99_QDATA_AS_CAPACITY","SMF99_QDATA_ACHIEVED_QMPL","SMF99_QDATA_ACTIVE_QMPL","SMF99_QDATA_QMPL_IN_TAR","SMF99_QDATA_AVG_QUEUED_REQUESTS","SMF99_QDATA_LT_TOTAL_REQUESTS","SMF99_QDATA_SERVER_IDLE","SMF99_QDATA_Q_TYPE","SMF99_QDATA_QUEUE_MANAGER","SMF99_QDATA_BATCH","SMF99_QDATA_Q_QUALIFIER","SMF99_QDATA_TASKS_MANAGED","SMF99_QDATA_SPACES_MOVED_BY_HSK","SMF99_QDATA_SPACES_MOVED_BY_PA","SMF99_QDATA_AE_SPREADMIN","SMF99_QDATA_ACTIVE_RGNWORK","SMF99_QDATA_RQDATA_OF","SMF99_QDATA_RQDATA_LN","SMF99_QDATA_RQDATA_ON","SMF99_QDATA_SUBSYS_TYPE","SMF99_QDATA_SUBSYS_NAME","SMF99_QDATA_INST_PER_SERVER","SMF99_QDATA_SPACES_MOVED","SMF99_QDATA_AE_MAXLIMIT","SMF99_QDATA_AE_MINLIMIT","SMF99_QDATA_AVG_INELIGIBLE_REQUESTS"]}}},{"name":"SMF99_SUBTYPE2_REMOTE_QUEUE_SERVER_DATA_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_REMOTE_QUEUE_SERVER_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_REMOTE_QUEUE_SERVER_DATA_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_RQDATA_SYS_NAME","SMF99_RQDATA_FLAGS","SMF99_RQDATA_JUST_STARTED_SERVER","SMF99_RQDATA_CANNOT_START_SERVER","SMF99_RQDATA_DEFERRED_STARTING_SERVER","SMF99_RQDATA_MANAGED","SMF99_RQDATA_ASSESS_DATA_VALID","SMF99_RQDATA_ACTIVE_SERVERS","SMF99_RQDATA_TOTAL_SERVERS","SMF99_RQDATA_AVG_TOTAL_REQ","SMF99_RQDATA_#_SERVERS","SMF99_RQDATA_PI_DELTA","SMF99_RQDATA_HIGHEST_IMP","SMF99_RQDATA_WAITING_FOR_SYSNAME","SMF99_RQDATA_DONOR_CLASS","SMF99_RQDATA_PER#","SMF99_RQDATA_DONOR_RGROUP","SMF99_RQDATA_PA_SKIP","SMF99_RQDATA_Q_SKIP","SMF99_RQDATA_Q_SKIP_REASON","SMF99_RQDATA_AVG_QUEUED_REQUESTS","SMF99_RQDATA_AVG_INELIGIBLE_REQUESTS","SMF99_RQDATA_AVG_CONSTRAINT_REQUESTS"]}}},{"name":"SMF99_SUBTYPE2_ADDRESS_SPACE_EXPANDED_STORAGE_ACCESS_POLICY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_ADDRESS_SPACE_EXPANDED_STORAGE_ACCESS_POLICY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_ADDRESS_SPACE_EXPANDED_STORAGE_ACCESS_POLICY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_AS_ESP_ANAM","SMF99_AS_ESP_AP","SMF99_AS_ESP_VP","SMF99_AS_ESP_HP","SMF99_AS_ESP_ASID","SMF99_AS_ESP_FLAGS","SMF99_AS_STG_PROTECTED_NOW","SMF99_AS_STGCRIT_EXPLICIT","SMF99_AS_MANAGED_TO_REGION_GOALS","SMF99_AS_NON_SWAPPABLE","SMF99_AS_MANAGED_TO_BOTH_GOALS","SMF99_AS_INELIGHONORPRIORITY","SMF99_AS_BOOST","SMF99_AS_ZCONTAINER","SMF99_AS_ESP_CS_FMCT","SMF99_AS_ESP_ES_FMCT","SMF99_AS_ESP_PPS_TAR","SMF99_AS_CPSRP_SAMP","SMF99_AS_CPSRP_CUR_FP_SAMP","SMF99_AS_CPSRP_PREV_FP_SAMP","SMF99_AS_HEALTHIND","SMF99_AS_TOTAL_SERVICE","SMF99_AS_CPU_SERVICE","SMF99_AS_SRB_SERVICE","SMF99_AS_MSO_SERVICE","SMF99_AS_TRN_SERVICE","SMF99_AS_IO_SERVICE","SMF99_AS_DISP_COUNT","SMF99_AS_IFA_SERVICE","SMF99_AS_IFACP_SERVICE","SMF99_AS_SUP_SERVICE","SMF99_AS_SUPCP_SERVICE","SMF99_AS_PB_SERVICE","SMF99_AS_PB_OFFLOAD_SERVICE","SMF99_AS_PB_OFFLOADONCP_SERVICE","SMF99_AS_ENCLAVE_TIME","SMF99_AS_ENCLAVE_CPU_SERVICE","SMF99_AS_ENCLAVE_IFA_TIME","SMF99_AS_ENCLAVE_IFACP_TIME","SMF99_AS_ENCLAVE_SUP_TIME","SMF99_AS_ENCLAVE_SUPCP_TIME","SMF99_AS_BA_BRKLOC","SMF99_AS_BA_LOC","SMF99_AS_BA_MEMSCORE","SMF99_AS_MP_ACTUAL_POOL","SMF99_AS_MP_REQUESTED_POOL","SMF99_AS_TRC","SMF99_AS_TRG","SMF99_AS_PB_ZCBP_SERVICE","SMF99_AS_PB_ZCBPONCP_SERVICE","SMF99_AS_BA_BRKLOCELM","SMF99_AS_BA_LOCELM","SMF99_AS_BA_FLAGS"]}}},{"name":"SMF99_SUBTYPE2_I_O_SUBSYSTEMS_SAMPLES_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_I_O_SUBSYSTEMS_SAMPLES_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE2_I_O_SUBSYSTEMS_SAMPLES_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_IOSUB_INDEX","SMF99_IOSUB_CONNECTSAMPLES","SMF99_IOSUB_PENDINGSAMPLES"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf99Subtype2View"}}}}}}},"/v1/smf/type/99/subtype/1":{"get":{"tags":["SMF 99"],"summary":"System Level Data","description":"This end-point retrieves SMF 99 subtype 1 data from the specific SMF record using the dataset provided","operationId":"getData_2","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF99_SUBTYPE1","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99LEN","SMF99SEG","SMF99FLG","SMF99STU","SMF99RTY","SMF99TME","SMF99DTE","SMF99SID","SMF99SSID","SMF99TID","SMF99_SDEF_LEN"]}}},{"name":"SMF99_SUBTYPE1_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99POF","SMF99PLN","SMF99PON","SMF99DOF","SMF99DLN","SMF99DON"]}}},{"name":"SMF99_SUBTYPE1_PRODUCT_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99VN2","SMF99RVN","SMF99PNM","SMF99SLV","SMF99SNM","SMF99PFLG","SMF99_RECORD_INCOMPLETE","SMF99_REASM_INDICATOR"]}}},{"name":"SMF99_SUBTYPE1_HEADER_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_HEADER_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_HEADER_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99TOF","SMF99TLN","SMF99TON","SMF99SSOF","SMF99SSLN","SMF99SSON","SMF99PPOF","SMF99PPLN","SMF99PPON","SMF99PTOF","SMF99PTLN","SMF99PTON","SMF99RGOF","SMF99RGLN","SMF99RGON","SMF99GROF","SMF99GRLN","SMF99GRON","SMF99SLOF","SMF99SLLN","SMF99SLON","SMF99SLTOF","SMF99SLTLN","SMF99SLTON","SMF99PIOF","SMF99PILN","SMF99PION","SMF99ZEOF","SMF99ZELN","SMF99ZEON","SMF99PSOF","SMF99PSLN","SMF99PSON","SMF99BPOF","SMF99BPLN","SMF99BPON"]}}},{"name":"SMF99_SUBTYPE1_TRACE_TABLE_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_TRACE_TABLE_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_TRACE_TABLE_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_TPID","SMF99_TRID","SMF99_TCOD","SMF99_TJOB","SMF99_TLPI","SMF99_TSPI","SMF99_TGSR","SMF99_TDT1","SMF99_TDT2","SMF99_TDT3","SMF99_TRGN","SMF99_TCNM","SMF99_TPER","SMF99_TASID","SMF99_TDT4","SMF99_TFLG","SMF99_TIFA","SMF99_TSUP"]}}},{"name":"SMF99_SUBTYPE1_SYSTEM_STATE_INFORMATION_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SYSTEM_STATE_INFORMATION_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SYSTEM_STATE_INFORMATION_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_CPUA","SMF99_UMP","SMF99_UIC1","SMF99_UIC2","SMF99_UIC3","SMF99_UIC4","SMF99_EUIC1","SMF99_EUIC2","SMF99_EUIC3","SMF99_EUIC4","SMF99_FRV1","SMF99_FRV2","SMF99_FRV3","SMF99_ESTB1","SMF99_ESTB2","SMF99_ESTB3","SMF99_W2MIG","SMF99_PTAVAIL","SMF99_SHORT_FLAGS","SMF99_SHORT","SMF99_ASM1","SMF99_AMS2","SMF99_SQA1","SMF99_SQA2","SMF99_STATUS_FLAGS","SMF99_DCM_ON","SMF99_DCM_GOALALG_ON","SMF99_COMPAT_MODE","SMF99_TOTAL_PAG_COST","SMF99_CPPS","SMF99_SUIC1","SMF99_SUIC2","SMF99_SUIC3","SMF99_SUIC4","SMF99_SEUC1","SMF99_SEUC2","SMF99_SEUC3","SMF99_SEUC4","SMF99_STWSS","SMF99_NUM_EXT_SC","SMF99_DEFAULT_IO_VELOCITY","SMF99_SU_IFACTOR","SMF99_IOPISCALING","SMF99_LS_DISC","SMF99_CAPWS","SMF99_SECWS","SMF99_PGINS","SMF99_IFA_NORMALIZATION","SMF99_CPUS_ONLINE","SMF99_IFAS_ONLINE","SMF99_IFAA","SMF99_CPUIFAA","SMF99_IFA_FLAGS","SMF99_IFACROSSOVER","SMF99_IFAHONORPRIORITY","SMF99_SUPHONORPRIORITY","SMF99_IOMS_OPT","SMF99_FREE_LPAR_CAPACITY_WT_RELATED","SMF99_FREE_LPAR_CAPACITY_GUARANTEED","SMF99_FREE_LPAR_CAPACITY_CEC_RELATED","SMF99_FREE_LPAR_CAPACITY_LCP_CONFIG","SMF99_ITAVAIL","SMF99_SUP_NORMALIZATION","SMF99_SUPS_ONLINE","SMF99_SUPA","SMF99_GUARANTEED_IMAGE_CAPACITY","SMF99_CCTINTHD","SMF99_CCTTRPCT","SMF99_CCTTRATE","SMF99_CCCTTSH","SMF99_CCTRC100","SMF99_CCTRCDSP","SMF99_CCTRCUSE","SMF99_CCTRCWTR","SMF99_CCCITTSH","SMF99_STAVAIL","SMF99_FREE_LPAR_CAPACITY_WT_RELATED_ZAAP","SMF99_FREE_LPAR_CAPACITY_GUARANTEED_ZAAP","SMF99_FREE_LPAR_CAPACITY_CEC_RELATD_ZAAP","SMF99_FREE_LPAR_CAPACITY_LCP_CONFIG_ZAAP","SMF99_FREE_LPAR_CAPACITY_WT_RELATED_ZIIP","SMF99_FREE_LPAR_CAPACITY_GUARANTEED_ZIIP","SMF99_FREE_LPAR_CAPACITY_CEC_RELATD_ZIIP","SMF99_FREE_LPAR_CAPACITY_LCP_CONFIG_ZIIP","SMF99_SVTWTSS","SMF99_DELTAWAITTIME","SMF99_DELTAWAITTIMEZAAP","SMF99_DELTAWAITTIMEZIIP","SMF99_DELTADISPTIME","SMF99_DELTADISPTIMEZAAP","SMF99_DELTADISPTIMEZIIP","SMF99_CF","SMF99_CF_ZAAP","SMF99_CF_ZIIP","SMF99_MCF","SMF99_MCF_ZAAP","SMF99_MCF_ZIIP","SMF99_LPARBUSYTIME","SMF99_LPARBUSYTIME_ZAAP","SMF99_LPARBUSYTIME_ZIIP","SMF99_ONLINE_CORES_ALL","SMF99_ONLINE_CORES_CP","SMF99_ONLINE_CORES_ZAAP","SMF99_ONLINE_CORES_ZIIP","SMF99_MT_FLAGS","SMF99_PROCASCORE","SMF99_MULTICPUSPERCORE","SMF99_MT_INSTALLEDBASIC","SMF99_MT_CP","SMF99_MT_ZAAP","SMF99_MT_ZIIP","SMF99_MT_OPT_CP","SMF99_MT_OPT_ZAAP","SMF99_MT_OPT_ZIIP","SMF99_MT_INSTALLED_INFO","SMF99_MT_INSTALLED","SMF99_MT_MAXTHREADID","SMF99_MT_GENERAL_INFO","SMF99_MT_SPECIALFEATURE","SMF99_SU_IFACTOR_UNCAPPED","SMF99_SU_IFACTOR_IFA","SMF99_SU_IFACTOR_SUP","SMF99_DISPATCH_TIMES_SU","SMF99_DISPATCH_TIMES_SU_ZAAP","SMF99_DISPATCH_TIMES_SU_ZIIP","SMF99_SERVICE_ACCUM_OI","SMF99_SERVICE_ACCUM_OI_ZAAP","SMF99_SERVICE_ACCUM_OI_ZIIP","SMF99_MODEL_ZCBP","SMF99_MCR_ZCBP","SMF99_NOMMCR_ZCBP","SMF99_ZCBP_FLAGS","SMF99_ZAAP_IN_SYSPLEX","SMF99_ZCBP_IN_SYSPLEX","SMF99_IRA870_ISSUED","SMF99_ENQ_DP","SMF99_ZEP","SMF99_MMT_DIAGNOSE","SMF99_CPMP","SMF99_CPUB","SMF99_FREE_LPAR_CAPACITY_UB_CPU","SMF99_FREE_LPAR_CAPACITY_UB_ZIIP","SMF99_LPC_MAX_GUARANTEED_UB_CPU","SMF99_LPC_MAX_GUARANTEED_UB_ZIIP","SMF99_BOOSTINFO","SMF99_MMT_DIAGNOSE_V1","SMF99_ILSU_ARRAY","SMF99_STGCRIT_HSK_SKIP_CLOCK","SMF99_ILSU_ZAAP_ARRAY","SMF99_ILSU_ZIIP_ARRAY"]}}},{"name":"SMF99_SUBTYPE1_SYSTEM_PAGING_PLOT_INFORMATION_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SYSTEM_PAGING_PLOT_INFORMATION_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SYSTEM_PAGING_PLOT_INFORMATION_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_PAGP_BW","SMF99_PAGP_LSTX","SMF99_PAGP_POINTS_OF","SMF99_PAGP_POINTS_ON","SMF99_PAGP_POINTS_LN"]}}},{"name":"SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_PTPRTY","SMF99_PTNP","SMF99_PTIMDP","SMF99_PTPMDP","SMF99_PTCPUU","SMF99_PTCPUD","SMF99_PTW2UR","SMF99_PTAPU","SMF99_PTPPU","SMF99_PTACMD","SMF99_PTIMAXD","SMF99_PTWMAXD","SMF99_PTIAMTW","SMF99_PTWAMTW","SMF99_PTSCPUU","SMF99_PTSCPUD"]}}},{"name":"SMF99_SUBTYPE1_RESOURCE_GROUP_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_RESOURCE_GROUP_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_RESOURCE_GROUP_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_RGNAME","SMF99_MIN_SR","SMF99_MAX_SR","SMF99_ACT_SR","SMF99_SPAS","SMF99_SLICES","SMF99_RHELPCNT0","SMF99_RHELPCNT1","SMF99_RHELPCNT2","SMF99_RHELPCNT3","SMF99_RHELPCNT4","SMF99_RHELPCNT5","SMF99_RHELPCNT6","SMF99_LHELP_FLGS","SMF99_LHELP6","SMF99_LHELP5","SMF99_LHELP4","SMF99_LHELP3","SMF99_LHELP2","SMF99_LHELP1","SMF99_LHELP0","SMF99_RG_FLAGS","SMF99_RG_IS_DYNAMIC","SMF99_RG_PERCENT_CAPPED","SMF99_RG_PERCENT_SINGLE_PROCESSOR","SMF99_RG_MSU_PER_HOUR","SMF99_RG_RAW_SUS","SMF99_RG_ISP","SMF99_RG_TRG","SMF99_RG_HWC","SMF99_RG_PERC_MIN","SMF99_RG_PERC_MAX","SMF99_RG_TOTAL_SR","SMF99_RG_MEM_LIMIT","SMF99_RG_MEM_USAGE_4K","SMF99_RG_MEM_FIXED_FRAMES_4K","SMF99_RG_MEM_BACKED_2G_FRAMES","SMF99_RG_MEM_DISCRETIONARY_4K","SMF99_RG_MEM_DISCRETIONARY_2G","SMF99_RG_MEM_SHORTAGE_FLAGS","SMF99_RG_LACS","SMF99_RG_SUSIFA","SMF99_RG_SUSSUP","SMF99_RG_LACS_ZCBP","SMF99_RG_MEMSMPCNT","SMF99_RG_FRAMECNT"]}}},{"name":"SMF99_SUBTYPE1_GENERIC_RESOURCE_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_GENERIC_RESOURCE_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_GENERIC_RESOURCE_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_GR_SYSNAME","SMF99_GR_TSO_SESSIONS_ROUTED","SMF99_GR_NONTSO_SESSIONS_ROUTED","SMF99_GR_TSO_AVG_COST","SMF99_GR_TSO_PI","SMF99_GR_FLAGS","SMF99_GR_SHORTAGE","SMF99_GR_SERVICE_BY_IMPORTANCE"]}}},{"name":"SMF99_SUBTYPE1_SOFTWARE_LICENSING_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SOFTWARE_LICENSING_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SOFTWARE_LICENSING_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_SLCONFIGFLAGS","SMF99_SLSTSI","SMF99_SLLPAR","SMF99_SLVM","SMF99_SLHASSHAREDLOGICALCPUS","SMF99_SLCAPPEDBYCUSTOMER","SMF99_SLSTATEFLAGS","SMF99_SLCAPPEDBYWLM","SMF99_SLIMGCAPACITY","SMF99_SLCECCAPACITY","SMF99_SLCECCPUCOUNT","SMF99_SLLOGICALCPUCOUNT","SMF99_SLCECSERVICEUNITSPERSECTOSHARE","SMF99_SLIMGMSUATCURRENTWEIGHT","SMF99_SLIMGCPLIMIT","SMF99_SLAVGMSU","SMF99_SLAVGMSUCAPPED","SMF99_SLAVGMSUUNCAPPED","SMF99_SLINTERVALSERVICE","SMF99_SLINTERVALTIME","SMF99_SLROLLINTERVAL","SMF99_SLSERVICETABLEINTERVALS","SMF99_SLINTERVALSTOCAP","SMF99_SLINTERVALSTOUNCAP","SMF99_SLPATTERNINTERVALCOUNT","SMF99_SL_QUERY_RESPONSE_CODE","SMF99_SL_SETCAP_RESPONSE_CODE","SMF99_SLINTERVALSERVICE_ZAAP","SMF99_SLINTERVALSERVICE_ZIIP","SMF99_SLUNUSEDSCALING","SMF99_HARDWAREGROUPNAME","SMF99_HARDWAREGROUPCPUTYPECAPCP","SMF99_HARDWAREGROUPCPUTYPECAPZAAP","SMF99_HARDWAREGROUPCPUTYPECAPZIIP","SMF99_RTCAPLEADTIME","SMF99_TIME_TO_CAP","SMF99_TIME_TO_CAP_GROUP","SMF99_TIME_TO_CAP_DC","SMF99_FC_SERVICE","SMF99_FC_MSU","SMF99_FC_UNUSED","SMF99_FC_IMGMSULIMIT","SMF99_FC_IMGMSULIMITGROUP","SMF99_FC_LASTBUCKETPERCENT","SMF99_FC_NEWUNUSEDAVG","SMF99_FC_DONATEDSUS","SMF99_FC_CAPDIFF","SMF99_FC_CAPDIFFPORTION","SMF99_FC_CAPDIFFGROUP","SMF99_FC_CAPDIFFPORTIONGROUP","SMF99_TIME_TO_CAP_GCSHARE","SMF99_SLIMGCAPACITY_ZCBP","SMF99_SLCECCAPACITY_ZCBP","SMF99_SLCECCPUCOUNT_ZCBP","SMF99_SLLOGICALCPUCOUNT_ZCBP","SMF99_SUS_ZIIP","SMF99_SUS_ZIIP_ON_CP","SMF99_SUS_JAVA_ON_ZIIP","SMF99_SUS_JAVA_ON_CP"]}}},{"name":"SMF99_SUBTYPE1_SOFTWARE_LICENSING_TABLE_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SOFTWARE_LICENSING_TABLE_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_SOFTWARE_LICENSING_TABLE_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_SLTSERVICEUNCAPPED","SMF99_SLTSERVICECAPPED","SMF99_SLTSERVICEUNCAPPEDCOUNT","SMF99_SLTSERVICECAPPEDCOUNT","SMF99_SLTSERVICELASTUPDATEINTERVAL","SMF99_SLTSERVICEUNUSEDGROUPCAPACITY"]}}},{"name":"SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION_ZAAP","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION_ZAAP-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION_ZAAP-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_PTPRTY","SMF99_PTNP","SMF99_PTIMDP","SMF99_PTPMDP","SMF99_PTCPUU","SMF99_PTCPUD","SMF99_PTW2UR","SMF99_PTAPU","SMF99_PTPPU","SMF99_PTACMD","SMF99_PTIMAXD","SMF99_PTWMAXD","SMF99_PTIAMTW","SMF99_PTWAMTW","SMF99_PTSCPUU","SMF99_PTSCPUD"]}}},{"name":"SMF99_SUBTYPE1_ZIIP_ENTITLEMENT_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_ZIIP_ENTITLEMENT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_ZIIP_ENTITLEMENT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_ZE_INDEX","SMF99_ZE_EARNED","SMF99_ZE_CONSUMED","SMF99_ZE_REDEPOSITED"]}}},{"name":"SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION_ZIIP","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION_ZIIP-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PRIORITY_TABLE_ENTRY_SECTION_ZIIP-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_PTPRTY","SMF99_PTNP","SMF99_PTIMDP","SMF99_PTPMDP","SMF99_PTCPUU","SMF99_PTCPUD","SMF99_PTW2UR","SMF99_PTAPU","SMF99_PTPPU","SMF99_PTACMD","SMF99_PTIMAXD","SMF99_PTWMAXD","SMF99_PTIAMTW","SMF99_PTWAMTW","SMF99_PTSCPUU","SMF99_PTSCPUD"]}}},{"name":"SMF99_SUBTYPE1_BUFFER_POOL_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_BUFFER_POOL_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_BUFFER_POOL_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_BP_RES_NAME","SMF99_BP_AS_NAME","SMF99_BP_RES_TKN","SMF99_BP_SC_NAME","SMF99_BP_ADJ_SIZE","SMF99_BP_MIN_SIZE","SMF99_BP_MAX_SIZE","SMF99_BP_USE_SIZE","SMF99_BP_CUR_SIZE","SMF99_BP_TARGET_SIZE","SMF99_BPHR_BW","SMF99_BPHR_LSTX","SMF99_BPHR_POINTS_OF","SMF99_BPHR_POINTS_ON","SMF99_BPHR_POINTS_LN","SMF99_BP_HR_PLOT_AREA"]}}},{"name":"SMF99_SUBTYPE1_PLOT_WITH_ONE_CURVE_POINT_ENTRY_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PLOT_WITH_ONE_CURVE_POINT_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE1_PLOT_WITH_ONE_CURVE_POINT_ENTRY_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99_PLOT_XVAL","SMF99_PLOT_YVAL"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf99Subtype1View"}}}}}}},"/v1/smf/type/99/subtype/14":{"get":{"tags":["SMF 99"],"summary":"HiperDispatch Topology Data","description":"This end-point retrieves SMF 99 subtype 14 data from the specific SMF record using the dataset provided","operationId":"getData_3","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF99_SUBTYPE14","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99LEN","SMF99SEG","SMF99FLG","SMF99STU","SMF99RTY","SMF99TME","SMF99DTE","SMF99SID","SMF99SSID","SMF99TID","SMF99_SDEF_LEN"]}}},{"name":"SMF99_SUBTYPE14_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99POF","SMF99PLN","SMF99PON","SMF99DOF","SMF99DLN","SMF99DON"]}}},{"name":"SMF99_SUBTYPE14_PRODUCT_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99VN2","SMF99RVN","SMF99PNM","SMF99SLV","SMF99SNM","SMF99PFLG","SMF99_RECORD_INCOMPLETE","SMF99_REASM_INDICATOR"]}}},{"name":"SMF99_SUBTYPE14_HEADER_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_HEADER_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_HEADER_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF9914_HD_TOPOCHG_HDR_OFFSET","SMF9914_HD_TOPOCHG_HDR_LENGTH","SMF9914_HD_TOPOCHG_HDR_NUMBER","SMF9914_HD_TOPOCHG_CPU_OFFSET","SMF9914_HD_TOPOCHG_CPU_LENGTH","SMF9914_HD_TOPOCHG_CPU_NUMBER","SMF9914_HD_TOPOCHG_NODE_OFFSET","SMF9914_HD_TOPOCHG_NODE_LENGTH","SMF9914_HD_TOPOCHG_NODE_NUMBER","SMF9914_HD_TOPOCHG_MPWQ_OFFSET","SMF9914_HD_TOPOCHG_MPWQ_LENGTH","SMF9914_HD_TOPOCHG_MPWQ_NUMBER","SMF9914_HD_TOPOCHG_MPWQ_HNODE_OFFSET","SMF9914_HD_TOPOCHG_MPWQ_HNODE_LENGTH","SMF9914_HD_TOPOCHG_MPWQ_HNODE_NUMBER"]}}},{"name":"SMF99_SUBTYPE14_HEADER_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_HEADER_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_HEADER_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99E_VCM_SMF_SEQU","SMF99E_VCM_FLAG1","SMF99E_VCM_TOPOCHANGED","SMF99E_VCM_REBUILDANS","SMF99E_VCM_TOPOCHG_HP","SMF99E_VCM_TOPOCHG_WUQE","SMF99E_VCM_PROCSPEEDCHG","SMF99E_VCM_FLAG2","SMF99E_VCM_CECCAPVALID","SMF99E_VCM_LPARCAPVALID","SMF99E_VCM_OLD_STATE","SMF99E_VCM_MPWQ_UPDATED","SMF99E_VCM_PTF_SWITCHED","SMF99E_VCM_TRANSITION","SMF99E_VCM_ERRORCODE","SMF99E_VCM_CPSPERAN","SMF99E_VCM_LPARPHYSPROCSHR","SMF99E_VCM_MAXAFFINITYINDEX","SMF99E_VCM_MAXCPUIDFORIPL","SMF99E_VCM_HWLEVEL","SMF99E_VCM_CURRTOPO_TOD"]}}},{"name":"SMF99_SUBTYPE14_PROCESSOR_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_PROCESSOR_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_PROCESSOR_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99E_HD_TOPOCHG_CPU_INDEX","SMF99E_CP_CPUTYPE","SMF99E_CP_MISC","SMF99E_CP_POLAR","SMF99E_CP_NL2","SMF99E_CP_NL1","SMF99E_CP_CAP","SMF99E_CP_CI_NLINUSE","SMF99E_CP_CI_FLAGS","SMF99E_CP_CI_NOTOPOINFO","SMF99E_CP_CI_NL1","SMF99E_CP_CI_NL2","SMF99E_CP_CI_NL3","SMF99E_CP_CI_NL4","SMF99E_CP_CI_NL5"]}}},{"name":"SMF99_SUBTYPE14_NODE_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_NODE_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_NODE_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99E_HD_TOPOCHG_NODE_INDEX","SMF99E_AN_CPUTYPE","SMF99E_AN_POLARHI","SMF99E_AN_POLARMED","SMF99E_AN_POLARLOW","SMF99E_VCM_AN_NL2","SMF99E_VCM_AN_NL1","SMF99E_AN_FLAGS","SMF99E_VCM_AN_BDYCROSSING","SMF99E_VCM_AN_HNSBDYCROSSING","SMF99E_AN_CAP","SMF99E_AN_CI_NLINUSE","SMF99E_AN_CI_FLAGS","SMF99E_AN_CI_NOTOPOINFO","SMF99E_AN_CI_NL1","SMF99E_AN_CI_NL2","SMF99E_AN_CI_NL3","SMF99E_AN_CI_NL4","SMF99E_AN_CI_NL5"]}}},{"name":"SMF99_SUBTYPE14_MPWQ_CPU_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_MPWQ_CPU_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_MPWQ_CPU_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99E_HD_TOPOCHG_MPWQ_CPU_INDEX","SMF99E_MPWQ_AFFINITY_NODE","SMF99E_MPWQ_SHARE"]}}},{"name":"SMF99_SUBTYPE14_MPWQ_HNODE_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_MPWQ_HNODE_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE14_MPWQ_HNODE_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99E_HD_TOPOCHG_MPWQ_NODE_INDEX","SMF99E_MPWQ_BOOK_CROSSING_INDEX","SMF99E_MPWQ_CONTCROSSINDEX_NL1","SMF99E_MPWQ_CONTCROSSINDEX_NL2","SMF99E_MPWQ_CONTCROSSINDEX_NL3","SMF99E_MPWQ_CONTCROSSINDEX_NL4","SMF99E_MPWQ_CONTCROSSINDEX_NL5","SMF99E_MPWQ_HIGHESTCONTCROSS","SMF99E_MPWQ_HELP_NODES"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf99Subtype14View"}}}}}}},"/v1/smf/type/99/subtype/12":{"get":{"tags":["SMF 99"],"summary":"HiperDispatch Interval Data","description":"This end-point retrieves SMF 99 subtype 12 data from the specific SMF record using the dataset provided","operationId":"getData_4","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF99_SUBTYPE12","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99LEN","SMF99SEG","SMF99FLG","SMF99STU","SMF99RTY","SMF99TME","SMF99DTE","SMF99SID","SMF99SSID","SMF99TID","SMF99_SDEF_LEN"]}}},{"name":"SMF99_SUBTYPE12_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99POF","SMF99PLN","SMF99PON","SMF99DOF","SMF99DLN","SMF99DON"]}}},{"name":"SMF99_SUBTYPE12_PRODUCT_INFORMATION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_PRODUCT_INFORMATION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99VN2","SMF99RVN","SMF99PNM","SMF99SLV","SMF99SNM","SMF99PFLG","SMF99_RECORD_INCOMPLETE","SMF99_REASM_INDICATOR"]}}},{"name":"SMF99_SUBTYPE12_HEADER_SELF_DEFINING_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_HEADER_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_HEADER_SELF_DEFINING_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF9912_HD_INT_HDR_OFFSET","SMF9912_HD_INT_HDR_LENGTH","SMF9912_HD_INT_HDR_NUMBER","SMF9912_HD_INT_CAP_OFFSET","SMF9912_HD_INT_CAP_LENGTH","SMF9912_HD_INT_CAP_NUMBER","SMF9912_HD_INT_PROC_OFFSET","SMF9912_HD_INT_PROC_LENGTH","SMF9912_HD_INT_PROC_NUMBER"]}}},{"name":"SMF99_SUBTYPE12_HEADER_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_HEADER_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_HEADER_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99C_VCM_SMF_SEQU","SMF99C_VCM_ERRORCODE","SMF99C_VCM_DIAG204_FLAGS","SMF99C_VCM_D204_WLMCAPPING","SMF99C_VCM_D204_LPARCAPPING","SMF99C_VCM_D204_WAITCOMPLETION","SMF99C_VCM_D204_PHWGTISNEG","SMF99C_VCM_INTERVAL_LEN","SMF99C_VCM_LPARPHYSPROCSHR","SMF99C_VCM_INTERVAL_TOD","SMF99C_VCM_FLAG1","SMF99C_VCM_TOPOCHANGED","SMF99C_VCM_REBUILDANS","SMF99C_VCM_TOPOCHG_HP","SMF99C_VCM_TOPOCHG_WUQE","SMF99C_VCM_PROCSPEEDCHG","SMF99C_VCM_FLAG2","SMF99C_VCM_CECCAPVALID","SMF99C_VCM_LPARCAPVALID","SMF99C_VCM_OLD_STATE","SMF99C_VCM_MPWQ_UPDATED","SMF99C_VCM_PTF_SWITCHED","SMF99C_VCM_TRANSITION","SMF99C_VCM_FLAG3","SMF99C_VCM_TOPOFAC","SMF99C_VCM_IFAFAC","SMF99C_VCM_LPARDEDICPS","SMF99C_VCM_CMSET_ACTIVE","SMF99C_VCM_NEWCONTTLE","SMF99C_VCM_SMF_TOPOCHG","SMF99C_VCM_FLAG4","SMF99C_VCM_OLD_IFA_HP","SMF99C_VCM_OLD_SUP_HP","SMF99C_MT_FLAG1","SMF99C_MT_PROCASCORE","SMF99C_MT_MULTICPUSPERCORE","SMF99C_MT_BADRV_READY_FOR_MT","SMF99C_MT_FLAG2","SMF99C_MT_MODECHGDUETOSTSI_PEND","SMF99C_MT_SUP_RECOVERY_PEND","SMF99C_MT_MODECHGDUETOHISMT_PEND","SMF99C_MT_MODECHGDUETOWAITCMP_PEND","SMF99C_MT_MODECHGDUETOSUPFORCEMT1_PEND","SMF99C_VCM_CURRENT_STATE","SMF99C_VCM_PREVIOUS_STATE","SMF99C_VCM_RESTART_CTR","SMF99C_VCM_HARDWAREGROUPNAME","SMF99C_VCM_SRB_FLAGS","SMF99C_VCM_DIAGMPWQ","SMF99C_VCM_DIAGECPX"]}}},{"name":"SMF99_SUBTYPE12_CAPACITY_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_CAPACITY_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_CAPACITY_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99C_HD_INT_CAP_PROCTYPE","SMF99C_VCM_LPARFLAGS","SMF99C_VCM_LPARCPSHAREOK","SMF99C_VCM_LPARCPSHAREHI","SMF99C_VCM_LPARCPSHARELO","SMF99C_VCM_MVSBUSYDYNATHRUNPARK","SMF99C_VCM_MVSBUSYDYNATHRPARK","SMF99C_VCM_MVSBUSYTHRUNPARK","SMF99C_VCM_MVSBUSYTHRPARK","SMF99C_VCM_MVSBUSY","SMF99C_VCM_LPARCAPUSEDADJ","SMF99C_VCM_LPARCAPUSED","SMF99C_VCM_LPARCAPUSEDDISCR","SMF99C_VCM_LPARCAPUSEDVMVL","SMF99C_VCM_LOWCECMAXUP","SMF99C_VCM_LOWCECMVSBUSY","SMF99C_VCM_LPARCAPVMVLUSEDOFALLOC","SMF99C_VCM_LPARCAPVMVLUSEDOVERGUARAN","SMF99C_VCM_LPARCAPALLOCVMVL","SMF99C_VCM_LPARCAPALLOC","SMF99C_VCM_LPARCAPNONGUARAN","SMF99C_VCM_LPARCAPMEDGUARAN","SMF99C_VCM_LPARCAPGUARAN","SMF99C_VCM_MVSBUSYPROJECTED","SMF99C_VCM_LPARUNUSEDCAPSHARE","SMF99C_VCM_LPARUNUSEDCAP","SMF99C_VCM_CECUTILTHRPARK","SMF99C_VCM_PUPDISPL","SMF99C_VCM_D204_TOTALW","SMF99C_VCM_D204_CURRENTW","SMF99C_VCM_D204_WRKCURRW","SMF99C_VCM_D204_LCPUS","SMF99C_VCM_D204_FLAGS1","SMF99C_VCM_D204_LPARCAPPINGPT","SMF99C_VCM_CPUHI","SMF99C_VCM_CPUMED","SMF99C_VCM_CPULO","SMF99C_VCM_CPULOUNPARKED","SMF99C_VCM_CPULOPARKED","SMF99C_VCM_DIAGCAPINCR","SMF99C_VCM_DIAGINCR","SMF99C_VCM_DIAGINCRDISCRUNPARK","SMF99C_VCM_DIAGINCRDISCRUPREQU","SMF99C_VCM_DIAGINCRDISCRUPALLRQ","SMF99C_VCM_DIAGINCRUNUSEDCAP","SMF99C_VCM_DIAGINCRPRSMCAPVHUTIL","SMF99C_VCM_DIAGCAPDECR","SMF99C_VCM_DIAGDECR","SMF99C_VCM_DIAGDECRDISCRPARK","SMF99C_VCM_DIAGDECRDISCRPAREQU","SMF99C_VCM_DIAGDECRDISCRPAALLRQ","SMF99C_VCM_DIAGDECRBUSYTHR","SMF99C_VCM_DIAGDECREFFECTTHR","SMF99C_VCM_DIAGDECREFFECTSMALL","SMF99C_VCM_DIAGDECREFFECTNONE","SMF99C_VCM_DIAGDECREFFLOWTHR","SMF99C_VCM_DIAGNODECRLOWUTIL","SMF99C_VCM_DIAGDECRPRSMCAPPARKALLHW","SMF99C_VCM_DIAGDECRPRSMCAPPAALLHICECUTIL","SMF99C_VCM_DIAGDECRPRSMCAPVHUTIL","SMF99C_VCM_DIAGDECRPRSMCAPEFFECTTHR","SMF99C_VCM_DIAGDECRPRSMCAPBUSYTHR","SMF99C_VCM_DIAGDECRPRSMCAP","SMF99C_VCM_DIAGCAPDECR_CONT","SMF99C_VCM_DIAGDECRPARKALLFUL","SMF99C_VCM_DIAGNODECRPRSMCAPLOWUTIL","SMF99C_VCM_CECCAPTOTAL","SMF99C_VCM_CECCAPUSEDADJ","SMF99C_VCM_CECCAPUSED","SMF99C_VCM_CECCAPFREE","SMF99C_VCM_CECSHAREDCPS","SMF99C_VCM_CECCAPFREELIMIT","SMF99C_VCM_CECUTIL","SMF99C_VCM_CECTOTUNUSEDCAP","SMF99C_VCM_CECTOTLPARWGTABOVEGUARAN","SMF99C_VCM_CECPHYSMGMTIME","SMF99C_VCM_CECPHYSMGMTIMEADJ","SMF99C_MT_CF","SMF99C_MT_MCF","SMF99C_MT_OPT_ORIG","SMF99C_MT_OPT_INUSE","SMF99C_MT_CURR","SMF99C_MT_TGT","SMF99C_VCM_D204CPUTYPECAPVAL","SMF99C_VCM_D204HARDWAREGROUPCPUTYPECAP","SMF99C_VCM_PRSMCAPCECUTILPARKALLTHR","SMF99C_VCM_PRSMCAPVHUTILTHR_MAX","SMF99C_VCM_PRSMCAPVHUTILTHR_MIN","SMF99C_VCM_LPARCAPUSEDVHADJ","SMF99C_VCM_LPARCAPUSEDVMADJ","SMF99C_VCM_VHUTIL","SMF99C_VCM_VMUTIL","SMF99C_VCM_PROJVHMUTIL","SMF99C_VCM_MA_FLGS","SMF99C_VCM_STOP_BRK_BAL","SMF99C_VCM_NOCROS","SMF99C_VCM_ONEAFN","SMF99C_VCM_HWLEVEL","SMF99C_VCM_STOP_MEMAFF_BAL","SMF99C_VCM_HSCDYNMVSBUSYTHR","SMF99C_VCM_HDMAHSCT","SMF99C_VCM_HDTDMU","SMF99C_VCM_SRB_BLURRING"]}}},{"name":"SMF99_SUBTYPE12_PROCESSOR_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_PROCESSOR_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF99_SUBTYPE12_PROCESSOR_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF99C_HD_INT_PROC_IDX","SMF99C_LCCADSF2","SMF99C_LCCAPARK","SMF99C_LCCASCFL","SMF99C_LCCAPPND"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf99Subtype12View"}}}}}}},"/v1/smf/type/79/subtype/9":{"get":{"tags":["SMF 79"],"summary":"Device Activity","description":"This end-point retrieves SMF 79.9 data from the specific SMF record using the dataset provided","operationId":"getData_5","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF79_SUBTYPE9","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79LEN","SMF79SEG","SMF79FLG","SMF79RRF","SMF79SUT","SMF79V4","SMF79ESA","SMF79VXA","SMF79OS","SMF79BFY","SMF79RTY","SMF79TME","SMF79DTE","SMF79SID","SMF79SSI","SMF79STY","SMF79TRN","SMF79PRS","SMF79PRL","SMF79PRN","SMF79MCS","SMF79MCL","SMF79MCN","SMF79ASS","SMF79ASL","SMF79ASN","SMF79DCS","SMF79DCL","SMF79DCN","SMF79QSS","SMF79QSL","SMF79QSN"]}}},{"name":"SMF79_SUBTYPE9_PRODUCT_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79MFV","SMF79PRD","SMF79IST","SMF79DAT","SMF79INT","SMF79SAM","SMF79FLA","SMF79CNV","SMF79ISS","SMF79M3R","SMF79ISM","SMF79RCL","SMF79RCH","SMF79ALTVM","SMF79IIP","SMF79EED","SMF79BOO","SMF79CYC","SMF79MVS","SMF79IML","SMF79PRF","SMF79QES","SMF79CNE","SMF79DRC","SMF79EME","SMF79PRI","SMF79PRP","SMF79PED","SMF79PE2","SMF79PTN","SMF79SRL","SMF79IET","SMF79LGO","SMF79RAO","SMF79RAL","SMF79RAN","SMF79OIL","SMF79SYN","SMF79GIE","SMF79XNM","SMF79SNM"]}}},{"name":"SMF79_SUBTYPE9_MONITOR_2_CONTROL_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R79GTOD","R79LF2","R79PAR","R79SG","R79RSM","R79GOAL","R79TRXI","R79SRMC","R79INV","R79MAXD","R79SES","R79USER","R79RID","R79CTXTL","R79CTEXT","R79DTXTL","R79DTEXT","R79IST","R79TSR","R79TOT","R79NXT","R79IWMTK"]}}},{"name":"SMF79_SUBTYPE9_DEVICE_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9_DEVICE_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE9_DEVICE_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R799NUM","R799LCU","R799CNF","R799QUL","R799LCD","R799CMB","R799DTF","R799VAC","R799STA","R799SER","R799TYP","R799NUX","R799SSC","R799MEC","R799CNN","R799PEN","R799ATV","R799DIS","R799QUE","R799UTL","R799RSV","R799ALC","R799DVB","R799CNX","R799PAV","R799NXC","R799NTF","R799ECM","R799STS","R799FCM","R799HPV","R799FID","R799SGN","R799NDA","R799CMR","R799PCT","R799PSM","R799IDT","R799CUQ","R799CN2","R799CFC","R799SCS","R799NM2","R799IOS"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf79Subtype9View"}}}}}}},"/v1/smf/type/79/subtype/7":{"get":{"tags":["SMF 79"],"summary":"Enqueue Contention Data","description":"This end-point retrieves SMF 79.7 data from the specific SMF record using the dataset provided","operationId":"getData_6","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF79_SUBTYPE7","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79LEN","SMF79SEG","SMF79FLG","SMF79RRF","SMF79SUT","SMF79V4","SMF79ESA","SMF79VXA","SMF79OS","SMF79BFY","SMF79RTY","SMF79TME","SMF79DTE","SMF79SID","SMF79SSI","SMF79STY","SMF79TRN","SMF79PRS","SMF79PRL","SMF79PRN","SMF79MCS","SMF79MCL","SMF79MCN","SMF79ASS","SMF79ASL","SMF79ASN","SMF79DCS","SMF79DCL","SMF79DCN","SMF79QSS","SMF79QSL","SMF79QSN"]}}},{"name":"SMF79_SUBTYPE7_PRODUCT_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79MFV","SMF79PRD","SMF79IST","SMF79DAT","SMF79INT","SMF79SAM","SMF79FLA","SMF79CNV","SMF79ISS","SMF79M3R","SMF79ISM","SMF79RCL","SMF79RCH","SMF79ALTVM","SMF79IIP","SMF79EED","SMF79BOO","SMF79CYC","SMF79MVS","SMF79IML","SMF79PRF","SMF79QES","SMF79CNE","SMF79DRC","SMF79EME","SMF79PRI","SMF79PRP","SMF79PED","SMF79PE2","SMF79PTN","SMF79SRL","SMF79IET","SMF79LGO","SMF79RAO","SMF79RAL","SMF79RAN","SMF79OIL","SMF79SYN","SMF79GIE","SMF79XNM","SMF79SNM"]}}},{"name":"SMF79_SUBTYPE7_MONITOR_2_CONTROL_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R79GTOD","R79LF2","R79PAR","R79SG","R79RSM","R79GOAL","R79TRXI","R79SRMC","R79INV","R79MAXD","R79SES","R79USER","R79RID","R79CTXTL","R79CTEXT","R79DTXTL","R79DTEXT","R79IST","R79TSR","R79TOT","R79NXT","R79IWMTK"]}}},{"name":"SMF79_SUBTYPE7_SENQ_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7_SENQ_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE7_SENQ_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R797MAJ","R797MIN","R797FLG","R797GDET","R797GMAJ","R797GMIN","R797TRNC","R797GLBL","R797ALLS","R797ALLE","R797MINL","R797OWN","R797EXCW","R797SHRW","R797REQ","R797JBN","R797ASID","R797SCOP","R797SID"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf79Subtype7View"}}}}}}},"/v1/smf/type/79/subtype/6":{"get":{"tags":["SMF 79"],"summary":"Reserve Data","description":"This end-point retrieves SMF 79.6 data from the specific SMF record using the dataset provided","operationId":"getData_7","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF79_SUBTYPE6","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79LEN","SMF79SEG","SMF79FLG","SMF79RRF","SMF79SUT","SMF79V4","SMF79ESA","SMF79VXA","SMF79OS","SMF79BFY","SMF79RTY","SMF79TME","SMF79DTE","SMF79SID","SMF79SSI","SMF79STY","SMF79TRN","SMF79PRS","SMF79PRL","SMF79PRN","SMF79MCS","SMF79MCL","SMF79MCN","SMF79ASS","SMF79ASL","SMF79ASN","SMF79DCS","SMF79DCL","SMF79DCN","SMF79QSS","SMF79QSL","SMF79QSN"]}}},{"name":"SMF79_SUBTYPE6_PRODUCT_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79MFV","SMF79PRD","SMF79IST","SMF79DAT","SMF79INT","SMF79SAM","SMF79FLA","SMF79CNV","SMF79ISS","SMF79M3R","SMF79ISM","SMF79RCL","SMF79RCH","SMF79ALTVM","SMF79IIP","SMF79EED","SMF79BOO","SMF79CYC","SMF79MVS","SMF79IML","SMF79PRF","SMF79QES","SMF79CNE","SMF79DRC","SMF79EME","SMF79PRI","SMF79PRP","SMF79PED","SMF79PE2","SMF79PTN","SMF79SRL","SMF79IET","SMF79LGO","SMF79RAO","SMF79RAL","SMF79RAN","SMF79OIL","SMF79SYN","SMF79GIE","SMF79XNM","SMF79SNM"]}}},{"name":"SMF79_SUBTYPE6_MONITOR_2_CONTROL_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R79GTOD","R79LF2","R79PAR","R79SG","R79RSM","R79GOAL","R79TRXI","R79SRMC","R79INV","R79MAXD","R79SES","R79USER","R79RID","R79CTXTL","R79CTEXT","R79DTXTL","R79DTEXT","R79IST","R79TSR","R79TOT","R79NXT","R79IWMTK"]}}},{"name":"SMF79_SUBTYPE6_SENQR_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6_SENQR_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE6_SENQR_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R796ASID","R796MAJ","R796MIN","R796JBN","R796VOLS","R796UCB","R796REQ","R796MINL","R796FLG","R796RESV","R796TRUN","R796GLBL","R796RESC","R796SID","R796DVN","R796SCS"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf79Subtype6View"}}}}}}},"/v1/smf/type/79/subtype/5":{"get":{"tags":["SMF 79"],"summary":"Address Space SRM Data","description":"This end-point retrieves SMF 79.5 data from the specific SMF record using the dataset provided","operationId":"getData_8","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF79_SUBTYPE5","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79LEN","SMF79SEG","SMF79FLG","SMF79RRF","SMF79SUT","SMF79V4","SMF79ESA","SMF79VXA","SMF79OS","SMF79BFY","SMF79RTY","SMF79TME","SMF79DTE","SMF79SID","SMF79SSI","SMF79STY","SMF79TRN","SMF79PRS","SMF79PRL","SMF79PRN","SMF79MCS","SMF79MCL","SMF79MCN","SMF79ASS","SMF79ASL","SMF79ASN","SMF79DCS","SMF79DCL","SMF79DCN","SMF79QSS","SMF79QSL","SMF79QSN"]}}},{"name":"SMF79_SUBTYPE5_PRODUCT_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79MFV","SMF79PRD","SMF79IST","SMF79DAT","SMF79INT","SMF79SAM","SMF79FLA","SMF79CNV","SMF79ISS","SMF79M3R","SMF79ISM","SMF79RCL","SMF79RCH","SMF79ALTVM","SMF79IIP","SMF79EED","SMF79BOO","SMF79CYC","SMF79MVS","SMF79IML","SMF79PRF","SMF79QES","SMF79CNE","SMF79DRC","SMF79EME","SMF79PRI","SMF79PRP","SMF79PED","SMF79PE2","SMF79PTN","SMF79SRL","SMF79IET","SMF79LGO","SMF79RAO","SMF79RAL","SMF79RAN","SMF79OIL","SMF79SYN","SMF79GIE","SMF79XNM","SMF79SNM"]}}},{"name":"SMF79_SUBTYPE5_MONITOR_2_CONTROL_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5_MONITOR_2_CONTROL_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R79GTOD","R79LF2","R79PAR","R79SG","R79RSM","R79GOAL","R79TRXI","R79SRMC","R79INV","R79MAXD","R79SES","R79USER","R79RID","R79CTXTL","R79CTEXT","R79DTXTL","R79DTEXT","R79IST","R79TSR","R79TOT","R79NXT","R79IWMTK"]}}},{"name":"SMF79_SUBTYPE5_ASRMJ_DATA_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5_ASRMJ_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE5_ASRMJ_DATA_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","R795ASID","R795JBN","R795TTOD","R795CL","R795TAS","R795TROD","R795TCNT","R795SWC","R795CPUS","R795MSOS","R795IOCS","R795WMS","R795TOTL","R795TOT","R795SRBS","R795FLG","R795GOAL","R795SRV","R795QSC","R795TRG","R795SCL","R795SCP","R795WKLD","R795RGRP"]}}}],"responses":{"429":{"description":"Index for the dataset is being built. Try to recall later","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Cannot process the request due to client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"User authentication failed. Application cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"User has insufficient permissions to access the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The specified resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"No error occurred and the response contains all the data requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexedMapOfSmf79Subtype5View"}}}}}}},"/v1/smf/type/79/subtype/4":{"get":{"tags":["SMF 79"],"summary":"Paging Activity","description":"This end-point retrieves SMF 79.4 data from the specific SMF record using the dataset provided","operationId":"getData_9","parameters":[{"name":"datasetName","in":"query","description":"Name of an SMF data source. Length must not exceed 44 characters","required":true,"schema":{"maxLength":44,"type":"string","description":"Name of an SMF data source. Length must not exceed 44 characters"},"example":"SMF.DATASET.NAME"},{"name":"systemName","in":"query","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered","required":false,"schema":{"maxLength":4,"type":"string","description":"Four-character SMF system ID that identifies the z/OS system from which the data is gathered"}},{"name":"startTime","in":"query","description":"Data gathering begin time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"Data gathering end time in ISO8601 format (YYYY-MM-DDThh:mm:ss.sss, e.g., '2020-08-14T13:01:12')","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"showMeta","in":"query","description":"If not set to true, all the fields marked with 'x-zdg-is-meta=true' are excluded from the response. These fields may be, however, present in the response, if are explicitly requested","required":false,"schema":{"type":"boolean"}},{"name":"SMF79_SUBTYPE4","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE4-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE4-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79LEN","SMF79SEG","SMF79FLG","SMF79RRF","SMF79SUT","SMF79V4","SMF79ESA","SMF79VXA","SMF79OS","SMF79BFY","SMF79RTY","SMF79TME","SMF79DTE","SMF79SID","SMF79SSI","SMF79STY","SMF79TRN","SMF79PRS","SMF79PRL","SMF79PRN","SMF79MCS","SMF79MCL","SMF79MCN","SMF79ASS","SMF79ASL","SMF79ASN","SMF79DCS","SMF79DCL","SMF79DCN","SMF79QSS","SMF79QSL","SMF79QSN"]}}},{"name":"SMF79_SUBTYPE4_PRODUCT_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE4_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","required":false,"schema":{"type":"array","items":{"type":"string","description":"A set of the fields that are to be returned for SMF79_SUBTYPE4_PRODUCT_SECTION-structure. If used, only the listed fields are provided. '*' encodes all fields.","enum":["*","SMF79MFV","SMF79PRD","SMF79IST","SMF79DAT","SMF79INT","SMF79SAM","SMF79FLA","SMF79CNV","SMF79ISS","SMF79M3R","SMF79ISM","SMF79RCL","SMF79RCH","SMF79ALTVM","SMF79IIP","SMF79EED","SMF79BOO","SMF79CYC","SMF79MVS","SMF79IML","SMF79PRF","SMF79QES","SMF79CNE","SMF79DRC","SMF79EME","SMF79PRI","SMF79PRP","SMF79PED","SMF79PE2","SMF79PTN","SMF79SRL","SMF79IET","SMF79LGO","SMF79RAO","SMF79RAL","SMF79RAN","SMF79OIL","SMF79SYN","SMF79GIE","SMF79XNM","SMF79SNM"]}}},{"name":"SMF79_SUBTYPE4_MONITOR_2_CONTROL_SECTION","in":"query","description":"A set of the fields that are to be returned for SMF79_SUBTYPE4_MONITOR_2_CONTROL_SECTION-stru
[...]
